# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
modules.builtin
Module.symvers
Mkfile.old
dkms.conf
x509.*.genkey
*_key.pem
*_key.crt
*_key.key
.config
.config.old
kernel/scripts/basic/fixdep
kernel/scripts/kconfig/conf
kernel/scripts/kconfig/zconf.hash.c
kernel/scripts/kconfig/zconf.lex.c
kernel/scripts/kconfig/zconf.tab.c
kernel/arch/arm64/include/generated/
kernel/include/config/
kernel/include/generated/
kernel/scripts/asn1_compiler
kernel/scripts/basic/bin2c
kernel/scripts/dtc/dtc
kernel/scripts/dtc/dtc-lexer.lex.c
kernel/scripts/dtc/dtc-parser.tab.c
kernel/scripts/dtc/dtc-parser.tab.h
kernel/scripts/extract-cert
kernel/scripts/genksyms/genksyms
kernel/scripts/genksyms/keywords.hash.c
kernel/scripts/genksyms/lex.lex.c
kernel/scripts/genksyms/parse.tab.c
kernel/scripts/genksyms/parse.tab.h
kernel/scripts/kallsyms
kernel/scripts/kconfig/mconf
kernel/scripts/mod/elfconfig.h
kernel/scripts/mod/mk_elfconfig
kernel/scripts/selinux/genheaders/genheaders
kernel/scripts/selinux/mdp/mdp
kernel/scripts/sign-file
kernel/scripts/sortextable

